<launch>
    <rosparam file="$(find single_joint)/config/generator.yaml" />
    <node pkg="single_joint" type="generator.py" name="generator"  output="screen"></node>

    <rosparam file="$(find single_joint)/config/rainbow.yaml" />
    <node pkg="single_joint" type="rainbow.py" name="rainbow"  output="screen"></node>

    <rosparam file="$(find single_joint)/config/gzactuator.yaml" />
    <node pkg="single_joint" type="gzactuator.py" name="gzactuator"  output="screen"></node>
</launch>