<launch>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find single_joint)/worlds/default.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <param name="robot_description" command="$(find xacro)/xacro '$(find single_joint)/urdf/snake_joint_world.xacro'" />

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model msd_world -param robot_description"/>

    <rosparam file="$(find single_joint)/config/snake_joint_control.yaml" command="load" />

    <node name="controller_spawner" pkg="controller_manager"
          type="spawner" respawn="false" output="screen" ns="/single_joint"
          args="joint_state_controller" />

    <node name="effort_controller_spawner" pkg="controller_manager" ns="/single_joint"
          type="spawner" 
          args="link_motor_effort" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/single_joint/joint_states" />
    </node>

    <rosparam file="$(find single_joint)/config/rainbow.yaml" />
    <node pkg="single_joint" type="rainbow.py" name="rainbow"  output="screen"></node>

    <!--<node pkg="rqt_plot" type="rqt_plot" name="rqt" args="rqt_plot /single_joint/rqt/error"/>
-->
</launch>
